<div id="top">
	<div id="wrapper">
		<div id="content">
			<p class="top-main_image"><%=image_tag "ichigo-image1",width:"100%"%></p>
			<section id="section1">
				<h2 class="top-title"><span>ICHIGO大福</span></h2>
				<p class="top-title_border"></p>
				<div class="top-main_image_reserve text-center">
					<%= link_to reservations_path do %>
						<%=image_tag "reserve.png",height:"300px"%>
					<% end %>
				</div>
				
				<div class="text-center">
				苺大福を中心に和菓子を扱っている小さなお店の予約サイトです。<br>
        頑張っている自分のご褒美に苺大福はいかがですか。<br>
        大人気の苺大福は練たての求肥にたっぷりの餡子とジューシーないちごの組み合わせが絶品です。
				</div>
			</section>
			<div calss="row">
				<div class="col text-center">
					<%=image_tag "create-ichigo.jpg",width:"250", height:"250" ,alt:"いちご"%>
					<%=image_tag "ichigo.jpg",width:"250", height:"250" ,alt:""%>
				</div>
			</div>
			<section id="section3">
				<header>
					<h2 class="top-title"><span>こだわり</span></h2>
					<p class="top-title_border"></p>
				</header>
				<div class="inner">
					<div class="inner-contents">
						<div class="mt-2">
							<strong>国産の素材</strong><br>
							<p>
								求肥は京都丹波産の「新羽二重餅粉」、小豆は京都府兵庫県産の「丹波大納言小豆」使用しております。<br>
								添加物不使用です。いちご大福は生菓子ですので必ず<strong>当日中</strong>にお召し上がりください。</p>
						</div>
						<div class="mt-2">
							<strong>環境に優しく</strong><br>
							<p>
							フードロス廃棄を出さない為に予約制を設けています<br>
							またプラスチック素材不使用、紙パッケージを使用しております。</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
<div>

