<%= form_with model: @contact,url: contacts_confirm_path, method: :post, local: true do |f| %>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :name %>
    </div>
    <div class="mb-3">
      <%= f.text_field :name, value: current_user&.name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :email %>
    </div>
    <div class="mb-3">
      <%= f.email_field :email, value: current_user&.email, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :phone %>
    </div>
    <div class="mb-3">
      <%= f.telephone_field :phone, value: current_user&.phone, class: "form-control", placeholder: "09012345678", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :category %>
    </div>
    <div class="mb-3">
      <%= f.select :category, Contact.categories_i18n.invert, {include_blank: "お問い合わせ内容を選択して下さい"}, {class: "form-control", required: true} %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :message %>
    </div>
    <div class="mb-3">
      <%= f.text_area :message, class: "form-control", rows: "5", required: true %>
    </div>
  </div>
  <div class="text-left mb-3">
    <small>・全ての入力項目が必須となっております。</small><br>
    <small>・電話番号はハイフンを除き市外局番から記入をお願いいたします。</small><br>
    <small>・英数字は半角での記入をお願いいたします。</small><br>
    <small>・ご入力頂いたメールアドレスに自動で確認メールを送信しております。</small><br>
  </div>
  <div class="actions text-center mb-3">
    <%= f.submit "次へ進む", class: "btn btn-new w-100" %>
  </div>
<% end %>