<%= form_with model: @reservation, url: reservations_path, local: true, id: "reservation_form" do |f| %>
  <%= render 'layouts/error', object: f.object %>
  <%= f.hidden_field :user_id, value: current_user&.id %>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :name %>
    </div>
    <div class="mb-3">
      <%= f.text_field :name, value: current_user&.name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :email %>
    </div>
    <div class="mb-3">
      <%= f.email_field :email, value: current_user&.email, class: "form-control", placeholder: "(例)lchigodaihuku@example.com", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :phone %>
    </div>
    <div class="mb-3">
      <%= f.telephone_field :phone, value: current_user&.phone, class: "form-control", placeholder: "09012345678", required: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :reservation_day %>
    </div>
    <div class="mb-3">
      <%= f.date_field :reservation_day, class: "form-control", required: true, min: Date.tomorrow, max: Date.today.since(1.month) %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label  :reservation_time %>
    </div>
    <div class="mb-3">
      <%= f.select  :reservation_time, Reservation.reservation_times_i18n.invert, {include_blank: "予約する時間を選択してください"}, {class: "form-control", required: true} %>
    </div>
  </div>
  <div class="form-group">
    <div class="text-left mb-1">
      <%= f.label :number_of_items %>
    </div>
    <div class="mb-3">
      <%= f.select :number_of_items,[1,2,3,4,5,6,7,8,9,10], {include_blank: "予約数を選択して下さい"}, {class: "form-control", required: true} %>
    </div>
  </div>
  <div class="text-left mb-3">
    <p>お支払いはご来店当日にお願いいたします。</p>
    <p>お支払い方法は現金・クレジットカードがご利用いただけます。</p>
    <p>・10個以上のご予約のお客様は<%= link_to "お問い合わせページ", contacts_path %>,またはお電話（012-345-678）にてお問い合わせください</p>
    <p>・お電話受付時間は14:00 - 15:00の間です。</p>
    <p>・定休日は水曜日、土曜日です。</p>
    <p>・英数字は半角での記入をお願いいたします。</p>
    <p>・ご入力頂いたメールアドレスに自動で確認メールを送信しております。</p>
  </div>
  <div class="actions text-center mb-3">
    <%= f.submit "規約に同意して次へ", class: "btn btn-new w-100" %>
  </div>
<% end %>
