<div class="container">
  <h1 class="text-center my-5">ご予約</h1>
  <div class="row px-2">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 border p-3 mb-4">
      <h2 class="today-ichigo">本日のいちご</h2><br>
      <p class="text-center" style="color:red;">季節により1種類〜3種類の苺です<br>
      （ご指定頂けませんのでご了承ください）</p>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td>
            <%= image_tag item.get_image(100, 100)%>
          </td>
          <td><%= item.name %></td>
          <td><%= item.price.to_s(:delimited) %>円</td>
        </tr>
        <% end %>
        <P></P>
      </tbody>
    </div>
  </div>
  <%= week_calendar events: @reservations do |start_time, reservations| %>
    <%= start_time.day %><br>
    <% if check_reservation(reservations, start_time) %>
      <%= link_to  new_reservation_path(reservation_day: start_time), class: "btn btn-dark" do%>
        予約できます
      <% end%>
    <% end%>
  <% end %>
</div>

