<div class="container p-3 p-md-4 p-lg-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="my-3">
        <h2>お問い合わせ詳細</h2>
      </div>
      <table class="table table-bordered bg-white">
        <tr>
          <th scope="row" class="text-nowrap">問い合わせ日時</th>
          <td><%= l @contact.created_at, format: :short %></td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">ステータス</th>
          <td><%= @contact.status_i18n %></td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">名前</th>
          <td><%= @contact.name %></td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">メールアドレス</th>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">電話番号</th>
          <td><%= @contact.phonenumber %></td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">項目</th>
          <td><%= @contact.category_i18n %></td>
        </tr>
        <tr>
          <th scope="row" class="text-nowrap">内容</th>
          <td><%= simple_format @contact.message %></td>
        </tr>
      </table>
      <div class="text-center mb-3">
        <%= link_to "一覧へ", admin_contacts_path, class: "btn btn-log" %>
      </div>
    </div>
  </div>
</div>